<div class='container-fluid'>
  <h1 style="text-align:center; color:palevioletred; font-style: italic; margin-top: 4%">QUOTES</h1>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <ol>
    <div *ngFor='let quote of quotes;let i=index'>
      <li appHighlight> <b>{{ quote.description}}</b></li>
      <p>{{"Author: " + quote.author}}</p>
      <p>{{"Publisher: " + quote.publisher}}</p>
      <p>Upvote: {{quote.upvote}}</p>
      <p>Downvote: {{quote.downvote}}</p>
      <p>{{"Duration passed: " + quote.startDate|date}}</p>
      <p>
        <app-quotes-desription (isDelete)='deleteQuote($event, i)' [quote]='quote'></app-quotes-desription>
      </p>
      <p><button class="btn btn-success" (click)='upvotes(i)'>Upvote</button> </p>
      <button style="margin-bottom: 4%" class="btn btn-info" (click)='downvotes(i)'>Downvote</button>
    </div>
  </ol>
</div>
