<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">

                <label for="description"><strong>Quotes: </strong></label>
                <textarea class="form-control" id="description" rows="4" placeholder="Enter Quote" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required ></textarea>
                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    <p> Quote is Required</p>

            </div>
        </div>
            <div class="form-group">

                <label for="author"><strong>Author's Name: </strong></label>
                <input  type="text" class="form-control" id="author" placeholder="Authors's Name" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
                <!-- <div [hidden]="author.valid || author.pristine" class="alert alert-danger"> -->
                    <p> Author's Name is Required</p>
            </div>
        </div>
            <div class="form-group">

                <label for="publisher"><strong>Publisher's Name: </strong></label>
                <input type="text" class="form-control" id="publisher" placeholder="Publisher's Name" [(ngModel)]="newQuote.publisher" name="publisher" #publisher="ngModel" required>
                <!-- <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger"> -->
                    <p> Publisher's Name is Required</p>
            </div>
        </div>
            <div class="form-group">

                <label for="start"><strong> Starting Date: </strong></label> <br>
                <input type='date' id="start" [(ngModel)]="newQuote.startDate" name="startDate" #startDate="ngModel" required >
                <!-- <div [hidden]="startDate.valid || startDate.pristine" class="alert alert-danger"> -->
                    <p>Start date is Required</p>
                </div>
            </div>
            <button type="Submit" class="btn btn-success btn-lg" style="margin-bottom: 6%">Add Quote</button>
        </form>
    </div>
</div>